################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nmotool/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/nmotool/v15/Browse.VC.opendb
/.vs/nmotool/v15/Browse.VC.db
/.vs/nmotool/v15/ipch/AutoPCH/e8608a00814e729d/ENDIAN.ipch
